*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .forecast{
    position: relative;
    width: fit-content;
    margin-top: 50%;
    left: 50%;
  }
  
  .forecast__label{
    margin-top: 10px;
    margin-left: -50px;
    width: fit-content;
    text-align: center;
    left: -50px;
  }
  
  .forecast__rainy__cloud {
    width: 30px;
    height: 25px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    background: white;
    position: absolute;
    border: 1px solid #7ccafa;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }
  
  .forecast__rainy__cloud:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-top: 1px solid #7ccafa;
    border-left: 1px solid #7ccafa;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    bottom: 0px;
  }
  
  .forecast__rainy__cloud:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border-top: 1px solid #7ccafa;
    border-right: 1px solid #7ccafa;
    border-radius: 50%;
    position: absolute;
    right: -9px;
    bottom: 0px;
  }
  
  .forecast__rainy__cloud--grey{
    top: 10px;
    border: 0px;
    margin-left: -30px;
    background: linear-gradient(to bottom, #7F868D, #466D98)
  }
  
  .forecast__rainy__cloud--grey:after{
    border-top: 1px solid #7F868D;
    border-left: 1px solid #7F868D;
    background: linear-gradient(to bottom, #7F868D, #466D98)
  }
  .forecast__rainy__cloud--grey:before{
    border-top: 1px solid #7F868D;
    border-right: 1px solid #7F868D;
    background: linear-gradient(to bottom, #7F868D, #466D98)
  }

  .forecast__rainy {
    height: 50px;
    width:100px;
    overflow: hidden;
    position: relative;
  }
  
  .forecast__rainy__rain{
    position: relative;
    width: 2px;
    background: #689EDB;
    left: 50%;
    top: 17px;
  }
  
  .forecast__rainy__rain--one{
    left: 15px;
    height: 10px;
    animation-duration: 1s;
    animation-name: raining;
    animation-iteration-count: infinite;
  }
  .forecast__rainy__rain--two{
    left: 25px;
    height: 10px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
  }
  .forecast__rainy__rain--three{
    left: 35px;
    height: 10px;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-name: raining;
    animation-iteration-count: infinite;
  }
  .forecast__rainy__rain--four{
    left: 45px;
    height: 10px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
  }
  
  /* animations */
  @keyframes fadeIn {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  @keyframes moveRight {
    0% {
      left: 10px;
    }
    
    50% {
      left: 45px;
    }
    
    100% {
      left: 10px;
    }
  }
  
  @keyframes moveLeft {
    0% {
      left: 50px;
    }
    
    50% {
      left: 10px;
    }
    
    100% {
      left: 50px;
    }
  }
  
  @keyframes raining {
    0% {
      top: 15px;
    }
    100% {
      top: 50px;
    }
  }