.Total {
    background-color: rgb(103, 161, 212);
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 25px;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}